body {
    overflow-x: hidden;
}
img:hover {
    transform: scale(1.01);
}
.footer {
    display: grid;
    place-items: center;
    padding: 20px;
    color: #902525;
  }
 
  .footer h2 {
    font-size: 1.5rem;
    margin-bottom: 1.6rem;
    color: var(--text-color)
  }
 
  .footer-social a i {
    color: rgb(10, 26, 208);
    font-size: 25px;
    margin-left: 10px;
    text-align: center;
    line-height: 40px;
    background-color: #fff;
    border-radius: 50%;
    width: 40px;
    height: 40px;
  }
 
  .copyright {
    padding: 20px;
    background: rgb(52, 63, 182);
    text-align: center;
    color: #fff;
  }
 
  .copyright a {
    color: #22cf91;
  }